#tomato-meme {
    position: absolute;
    bottom: 30 px;
}

#startButton {
    color: black;
    background-color: lightslategray;
    padding: 5px;
    border-radius: 8px;
}

#stopButton {
    color: black;
    background-color: lightslategray;
    padding: 5px;
    border-radius: 8px;
}
